.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #134074;
  color: #eef4ed;
  padding: 2rem;
  padding-top: 10%;
  padding-bottom: 100%;
}

.card-header{
  background-color: #0b2545 !important;
}

.card-header h2{
  color: #eef4ed;
}
